.prompt {
  /* background-color: var(--color-bg-hc); */
  position: relative;
  width: min(90vw, 960px);
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.nocursor {
  cursor: none;
}

.prompt .task {
  color: var(--color-fg);
}

.prompt .input {
  color: transparent;
}

.prompt .paragraphs {
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  resize: none;
  padding: 1rem;
  font-family: var(--font-prompt);
  font-size: var(--font-l);
  outline: none;
  color: var(--color-fg-prompt);
  word-break: break-word;
  white-space: break-spaces;
}

.prompt .paragraphs > p {
  padding-bottom: 2rem;
  line-height: 1.8;
  position: relative;
}

.prompt .paragraphs > p::before,
.prompt .paragraphs > p::after {
  position: absolute;
  left: -7rem;
  width: 5rem;
  font-size: var(--font-s);
  letter-spacing: 0;
  font-family: var(--font-mono);
  text-align: right;
  color: var(--color-fg-lc);
  line-height: 1.8;
}

.prompt .paragraphs > p::before {
  content: attr(data-wpm);
  bottom: 3.5rem;
}

.prompt .paragraphs > p::after {
  content: attr(data-acc);
  bottom: 2.25rem;
}

.prompt .ok,
.prompt .warning,
.prompt .error {
  pointer-events: none;
}

.prompt .ok {
  color: var(--color-fg-ok);
}

.prompt .warning {
  color: var(--color-fg-warning);
}

.prompt .error {
  color: var(--color-fg-error);
}

.prompt .inaccurate {
  /* background: var(--color-bg-inaccurate); */
  border-bottom: solid 2px var(--color-fg-error);
}

.prompt .special {
  user-select: none;
  opacity: 0.5;
}

.prompt.caret-block .caret {
  background: var(--color-fg);
  color: var(--color-bg);
  font-weight: bold;
}

.prompt.caret-line .paragraphs {
  letter-spacing: -2px;
}

.prompt.caret-line .letter {
  border-left: solid 2px transparent;
}

.prompt.caret-line .caret {
  border-left: solid 2px var(--color-fg-ok);
}

.prompt.caret-floor .caret {
  border-bottom: solid 2px var(--color-fg-ok);
}

input[type="text"] {
  font-size: 16px;
  position: absolute;
  color: black;
  left: -100vw;
}

@media screen and (max-width: 63.99rem) {
  .prompt {
    width: 100%;
    padding-top: 0.5rem;
  }
}
