.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.filters {
  background: var(--color-bg-hc);
  height: 1rem;
}

.results {
  text-align: center;
  font-size: var(--font-s);
  color: var(--color-fg-lc);
  margin-top: var(--space-m);
}
