.cover {
  --width: var(--cover-width);
  --height: var(--cover-height);
  --max-thickness: calc(var(--cover-width) * 0.1875);
  --min-thickness: calc(var(--cover-width) * 0.0125);
  --thickness: max(min(calc(var(--pages) * var(--max-thickness) / 1000), var(--max-thickness)), var(--min-thickness));
  width: var(--width);
  height: var(--height);
  background: transparent;
  position: absolute;
  top: -1px;
  left: -1px;
}

.cover:before {
  content: "";
  width: var(--width);
  height: var(--thickness);
  background: red;
  position: absolute;
  top: var(--height);
  left: calc(-1 * var(--thickness) / 2);
  transform: skew(-45deg);
  box-shadow: var(--space-s) var(--space-s) var(--space-s) var(--color-shadow);
}

.cover > div {
  width: var(--width);
  height: var(--height);
  background-size: cover;
  position: absolute;
  left: calc(-1 * var(--thickness));
  top: var(--thickness);
}

.cover > div::after {
  content: "";
  width: var(--width);
  height: var(--thickness);
  background: linear-gradient(90deg, var(--color-paper-shadow), transparent),
    repeating-linear-gradient(0deg, var(--color-paper), var(--color-paper-hc) 3px);
  position: absolute;
  top: calc(-1 * var(--thickness));
  left: calc(var(--thickness) / 2);
  transform: skew(-45deg);
}

.cover > div::before {
  content: "";
  width: var(--thickness);
  height: var(--height);
  background: linear-gradient(0deg, var(--color-paper-shadow), var(--color-paper-shadow)),
    repeating-linear-gradient(90deg, var(--color-paper), var(--color-paper-hc) 3px);
  position: absolute;
  top: calc(-1 * var(--thickness) / 2);
  left: var(--width);
  transform: skew(0, -45deg);
}

@media screen and (max-width: 31.99rem) {
  .cover {
    box-shadow: none;
  }

  .cover > div {
    top: 0;
    left: 0;
    border: solid 1px var(--color-input);
    border-right: none;
  }

  .cover > div:after,
  .cover div:before {
    all: unset;
  }
}
