:root {
  --color-bg: #15161e;
  --color-bg-lc: #1a1b26;
  --color-bg-hc: #101017;
  --color-bg-inaccurate: #f7768e22;
  --color-fg: #9aa5ce;
  --color-fg-lc: #565f89;
  --color-fg-hc: #cfc9c2;
  --color-fg-ok: #9ece6a;
  --color-fg-warning: #e0af68;
  --color-fg-error: #f7768e;

  --font-sans: "Open Sans";
  --font-mono: "PT Mono", monospace;

  --font-prompt: "Fira Code", monospace;
  --font-prompt: "JetBrians Mono", monospace;
  --font-prompt: "OpenDyslexicMono";
  --font-prompt: "Recursive Mono Casual Static";
  --font-prompt: "Merriweather";
  --font-prompt: "OpenDyslexic3";
  --font-prompt: "PT Mono", monospace;

  --font-xs: 0.75rem;
  --font-s: 0.875rem;
  --font-m: 1rem;
  --font-l: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 2rem;
  --font-3xl: 3rem;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  /* display: grid; */
  /* place-content: center; */
}
